<%- include('../partial/header', {styleSheet: '/styles/main.css' }) %>

<h1>Current Employees</h1>
<% for (let i = 0; i < employee.length; i++) { %>
    <div class="card">
        <p><%=employee[i].name</p>
        <img src="<%=employee[i].img%>" alt="employee">
    </div>
    <br>
    <% } %>
<%- include ('../partial/footer') %>