<%- include('./partial/header', {styleSheet: '/styles/404.css' }) %>
<h1>YOU STUPID EMPLOYEE YOU ARE NOT MEANT TO BE HERE</h1>
<h1>YOU WILL NOW FACE THE CONSEQUENCES</h1>
<h1>FIRED!</h1>
<h1>FIRED!</h1>
<h1>FIRED!</h1>
<h1>FIRED!</h1>
<h1>FIRED!</h1>
<h1>FIRED!</h1>
<h1>FIRED!</h1>
<%- include ('./partial/footer') %>