<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee Database</title>
    <link rel="icon" href="https://www.freepnglogos.com/uploads/avengers-png-logo/black-avengers-png-logo-2.png">
    <link rel="stylesheet" href=" <%=styleSheet%> ">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
        rel="stylesheet">
</head>
<body>
    
<nav>
    <a href="/" class="limit"><img src="https://www.freepnglogos.com/uploads/avengers-png-logo/avengers-logo-transparent-png-image-download-2.png" alt="yolo"></a>
    <a href="/employees/add">Add Employees</a>
    <a href="/employees">Employees</a>
</nav>

