body{
    /* background-color:#C6D8D3; */
    margin:0px;
    padding: 0px;
    height: 100%;
    background-image: url('https://i.pinimg.com/originals/6a/a9/9e/6aa99e809cd724ad7adf00983939c9bb.jpg');
    color:white;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
}


p{
    font-size: 1.5em;

}

form{

    text-align: center;
}

.limit img {
    max-width: 5em;
    max-height: 5em;
}

.card{
    text-align: center;
}

img{
    height:20em;
}

h1{
    text-align: center;
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(white, gray);
   height: 4em;
   
}
a:hover{
    text-decoration: underline;
}

nav a{
    margin:0 1.5em;
    text-decoration: none;  
    color: black;
    font-size:1.5em

}
nav img{
    
    padding: 0;
    height:4em;
}

.card a{
    text-decoration: none;
    color:white;
}
.card a:hover{
    text-decoration: underline;
}

.show{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

button a{
    text-decoration: none;
    color:black;
    
}

button{
    background-image: linear-gradient(white, gray);
    border:none;
    border-radius: 2px;
    padding: 3px;
}


.button{
    background-image: linear-gradient(white, gray);
        border: none;
        border-radius: 2px;
        padding: 3px;
}

.options{
 display:flex;
 align-items: center;
 justify-content:center ;
 gap:10px;
 
}

footer{
    bottom:0;
    text-align: center;
    font-size:1em;
}
